<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">  
  <title>{{ title | safe }}</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdn.bootcss.com/jquery-confirm/3.3.4/jquery-confirm.min.css" rel="stylesheet">
  <!-- CSS Libraries -->
{% block plugins_css %}{% endblock %}

  <!-- Template CSS -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/components.css">
  <style>
    #__bs_notify__
  {display: none !important;}
  </style>
  
</head>

<body>
  <div id="app">
{% if body == false %}
{% block content_2 %}{% endblock %}
{% else %}
    <div class="main-wrapper">
      <div class="navbar-bg" style="height:10%;background-color:peru;position: fixed;z-index: 888;"></div>
      <nav class="navbar navbar-expand-lg main-navbar" style="position: fixed;">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div id="username" class="d-sm-none d-lg-inline-block"></div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">五分钟前登录</div>
            
              <a href="personactivities.html" class="dropdown-item has-icon">
                <i class="fas fa-bolt"></i> 个人足迹
              </a>
              <a href="auth-reset-password.html" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> 修改密码
              </a>
              <div class="dropdown-divider"></div>
              <a href="auth-login.html" onclick="exitindex()" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> 退出
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar" style="z-index: 999">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html">古籍检索与应用系统</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html"></a>
          </div>
          {% include "layouts/menu.html" %}
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
{% block content %}{% endblock %}
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy;</a>
        </div>
        
      </footer>
    </div>
{% endif %}
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../assets/js/stisla.js"></script>
  <script src="../assets/js/jquerysession.js"></script>
  <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdn.bootcss.com/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
  <script src="../assets/js/echart.js"></script>
  
  <!-- JS Libraies -->
{% block plugins_js %}{% endblock %}

  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <script src="../assets/js/custom.js"></script>

  <!-- Page Specific JS File -->
{% block page_js %}
<script>
  $("#username").text("你好,"+$.session.get('userName'));
  function exitindex(){
    $.session.remove("userID");
  }

  function check(){
    if($.session.get('userID') == null)
      window.location.href="auth-login.html";
  }
</script>
{% endblock %}
</body>
</html>
