<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>reading</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdn.bootcss.com/jquery-confirm/3.3.4/jquery-confirm.min.css" rel="stylesheet">

  <!-- CSS Libraries -->
{% block plugins_css %}{% endblock %}

  <!-- Template CSS -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/components.css">
  <style>
    #__bs_notify__
  {display: none !important;}
  </style>
</head>

<body class="layout-3">
  <div id="app">
{% if body == false %}
{% block content_2 %}{% endblock %}
{% else %}
    <div class="main-wrapper container">
      <div class="navbar-bg" style="height:10%;background-color:peru;position: fixed;z-index: 888;"></div>
      <nav class="navbar navbar-expand-lg main-navbar" style="position: fixed;">
        <span class="navbar-brand sidebar-gone-hide">医法圆通</span>
      
      
        <button id="oldhide" type="button" class="btn btn-outline-light" style="margin-left: 35%;margin-right: 40%;">显示原版</button>
     
        <button type="button" class="btn btn-outline-light"><a href="coverofbook.html" class="nav-link">退出阅读</a></button>
       
      </nav>
      

     

      <!-- Main Content -->
      <input id="process" type="range" class="form-control" max=100 min=1 value="0" step=1 style="width:90%;position: fixed;z-index: 888;margin-top: 5%;">
      <div class="main-content" style="padding-top: 10%;">
{% block content %}{% endblock %}
      </div>
      <footer  style="position: fixed;z-index: 888; padding:0px 0px 30px 0px;position:absolute;
      bottom:5%;width:100%;height:auto;">
       
        <nav class="navbar" style="position: fixed;z-index: 888;background-color: white;">
          <div class="section-header-breadcrumb" style="display:inline-block">
            <span>字号设置</span>
            <select id="fontchange" class="btn btn-secondary" >
              <option value="12">小号</option>
              <option value="14" selected>常规</option>
              <option value="20">大号</option>
              <option value="30">特大号</option>
            </select>
          </div>
          
          <div class="accordion-header btn btn-secondary" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true" style="display: inline-block;height: 30px">
            <span>评论</span>
          </div>
          
          <div class="accordion-header btn btn-secondary" role="button" onclick="notebook()"  data-toggle="collapse" data-target="#panel-body-2" aria-expanded="true" style="display: inline-block;height: 30px">
            <span data-toggle="tooltip" title="请先选中待写笔记内容"> 笔记</span>
          </div>
        
          <span id="index" style="margin-left: 10px;"></span>
          <span style="display:inline-block">跳转至: <input id="targetindex" type="text" value=" " style="height: 30px;width: 30px;text-align: center;display:inline-block;  border: 1px solid #bfc0cc6c"/> <span>页</span></span>
         
          <nav aria-label="Page navigation example" >
            <ul class="pagination">
              <li class="page-item" id="previous"><button type="button" class="btn btn-outline-light">上一页</button></li>         
              <li class="page-item" id="current"  style="line-height: 35px;width: 25px;text-align: center;"><a class="page-link">1</a></li>
              <li class="page-item" id="next"><button type="button" class="btn btn-outline-light">下一页</button></li>
            </ul>
          </nav>
        
        </nav>
      </footer>
    </div>
    <div class="accordion" id="accordion1">
      <div class="accordion-body collapse " id="panel-body-1" data-parent="#accordion1" style="z-index: 1000;position: fixed;top:20%;left:35%;width:30%;">
        <div class="row">
          <div style="width:100%">
              <div class="card" style="background-color: rgb(182, 158, 121);">
                    <div class="card-body pb-0">
                        <div class="form-group">
                          <label>标题</label>
                          <input type="text" name="title" id="commenttitle" class="form-control" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off">
                        </div>
                        <div class="form-group">
                          <label>内容</label>
                          <textarea name="content"  id="commentcontent" class="form-control" style=" min-height: 150px;"  spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></textarea>
                          <!-- <textarea class="summernote-simple"></textarea> -->
                        </div>
                    </div>
                    <div class="card-footer pt-0">
                      <button class="btn btn-warning" style="float:left" onclick="concalcomment()" >取消</button>
                      <button class="btn btn-warning" style="float:right" onclick="comment()" >发表评论</button>
                    </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordion2">
      <div class="accordion-body collapse " id="panel-body-2" data-parent="#accordion2" style="z-index: 1000;position: fixed;top:20%;left:35%;width:30%;">
        <div class="row">
          <div style="width:100%">
              <div class="card" style="background-color: rgb(182, 158, 121);">
                    <div class="card-body pb-0">
                    
                        <div class="form-group">
                          <label>内容</label>
                          <textarea name="content"  id="notecontent" class="form-control" style=" min-height: 150px;"  spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></textarea>
                          <!-- <textarea class="summernote-simple"></textarea> -->
                        </div>
                    </div>
                    <div class="card-footer pt-0">
                      <button class="btn btn-warning" style="float:left" onclick="concalnote()" >取消</button>
                      <button class="btn btn-warning" style="float:right" onclick="note()" >写笔记</button>
                    </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../assets/js/stisla.js"></script>

  <script type="text/javascript" src="../assets/js/jquery.media.js"></script>
  <script src="../assets/js/jquerysession.js"></script>
  <script src="../assets/js/UTIF.js"></script>
  <script src="https://cdn.bootcss.com/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>


  <!-- JS Libraies -->
{% block plugins_js %}{% endblock %}

  <!-- Page Specific JS File -->
{% block page_js %}{% endblock %}

  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <script src="../assets/js/custom.js"></script>
</body>
</html>
