          <ul class="sidebar-menu">     
              <li class="nav-item dropdown{{ ' active'|is_active('^index(.*)', page)|safe }}">
                <a href="index.html" class="nav-link"><i class="fas fa-fire"></i><span>主页</span></a>  
              </li>
              <li class="nav-item dropdown{{ ' active'|is_active('^catalog-browse(.*)', page)|safe }}">
                <a href="catalog-browse.html" class="nav-link"><i class="fas fa-columns"></i> <span>分类浏览</span></a>
              </li>
              <li class="nav-item dropdown{{ ' active'|is_active('^advancedsearch(.*)', page)|safe }}">
                <a href="advancedsearch.html" class="nav-link"><i class="fas fa-search"></i> <span>高级检索</span></a>
              </li>
              <li class="nav-item dropdown{{ ' active'|is_active('^blank(.*)', page)|safe }}">
                <a href="blank.html" class="nav-link"><i class="fas fa-columns"></i> <span>知识可视化</span></a>
              </li>
              <li class="nav-item dropdown{{ ' active'|is_active('^specialknowledgebase(.*)', page)|safe }}">
                <a href="specialknowledgebase.html" class="nav-link"><i class="fas fa-th-large"></i> <span>专题资料库</span></a>
              </li>
             
              <li class="nav-item dropdown{{ ' active'|is_active('^forms-(.*)', page)|safe }}">
                <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>个人中心</span></a>
                <ul class="dropdown-menu">
                    <li><a href="userinfo.html">我的账户</a></li>
                    <li><a href="bookcollection.html">我的书架</a></li>
                    <li><a href="mycomment.html">我的评论</a></li>
                    <li><a href="notelist.html">我的笔记</a></li>
                    <li><a href="auth-forgot-password.html">忘记密码</a></li>
                    <li><a href="auth-reset-password.html">重置密码</a></li>
                  </ul>
              </li>

              <li class="nav-item dropdown{{ ' active'|is_active('^forms-(.*)', page)|safe }}">
                <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>系统管理</span></a>
                <ul class="dropdown-menu">
                    <li><a href="用户管理.html">用户管理</a></li>
                    <li><a href="评论管理.html">评论管理</a></li>
                    <li><a href="#">知识可视化</a></li>
                    <li><a href="用户行为分析.html">用户行为分析</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown{{ ' active'|is_active('^modules-(.*)', page)|safe }}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>帮助文档</span></a>
              </li>

              <li class="nav-item dropdown{{ ' active'|is_active('^gmaps-(.*)', page)|safe }}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>联系我们</span></a>
              </li>
           
              
              

            
