{% set title = 'testTable' %}
{% set page = 'testtable.html' %}
{% extends 'layouts/master.html' %}

{% block plugins_css %}
  <link rel="stylesheet" href="../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
{% endblock %}

{% block content %}
        <section class="section">

            <div class="form-group" style="display: inline-block;margin-left: 30%;">
                <select id="select" class="form-control" style="padding:5px 5px;">
                  <option>书名</option>
                  <option>作者</option>
                  <option>译者</option>
                  <option>关键词</option>
                </select>
            </div>
              
            <div class="card-header-form" style="display: inline-block;">
                  <div class="input-group">
                    <input id="querydata" type="text" class="form-control" placeholder="Search" >
                    <a href="#"><button id ="simplesearch" class="btn btn-warning" style="height:40px;" ><i class="fas fa-search"></i></button></a>
                  </div>
            </div>
              
            <div class="form-group" style="margin-left: 30%;">
              <label class="d-block">跨库</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">会议</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">报纸</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">标准</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">期刊</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">专利</label>
              </div>
            </div>

            <div class="section-body">
               
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h4>热门搜索</h4>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-striped" id="table-1">
                            <thead>
                              <tr>
                                <th class="text-center">
                                  #
                                </th>
                                <th>书名</th>
                                <th>作者</th>
                                <th>类别</th>
                                <th>阅读量</th>
                                <th>被引量</th>
                                <th>浏览</th>
                              </tr>
                            </thead>
                            <tbody>
                             
    
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
    
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
    
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                         
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div>

         
        </section>

{% endblock %}


{% block page_js %}
  <script src="../assets/js/page/modules-datatables.js"></script>
{% endblock %}


{% block plugins_js %}
<script src="../node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
  <script>
  $(document).ready(function(){
    $.ajax({
      url:"http://localhost:8081/maintest/"+"",
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "MaintestHandler",
      success:function(obj) {
        var index =  0;  
        $("td").each(function(){
          if(parseInt(index/7) >= obj.length)
              $(this).text("");
          else if(index % 7 == 0)
            $(this).text(parseInt(index/7)+1);
          else if(index % 7 == 1)
            $(this).text(obj[parseInt(index/7)].fileName);
          else if(index % 7 == 2)
            $(this).text(obj[parseInt(index/7)].author);
          else if(index % 7 == 3)
            $(this).text(obj[parseInt(index/7)].cateName);
          else if(index % 7 == 4)
            $(this).text(obj[parseInt(index/7)].readingQuantity);
          else if(index % 7 == 5)
            $(this).text(obj[parseInt(index/7)].citedQuantity);
          else if(index % 7 == 6){
            $(this).text("");
            $(this).append("<a href='javascript:void(0);' class='btn btn-success'>查看</a>");
          }
          index++;
        });
      }
    });
  });
</script>

{% endblock %}

