{% set title = '个人足迹' %}
{% set page = 'personactivities.html' %}
{% extends 'layouts/master.html' %}

{% block content %}
        <section class="section">
          <div class="section-header">
            <h1>个人足迹</h1>
            
          </div>
          <div class="section-body">
            <h2 class="section-title">2020年1月2日</h2>
            <div class="row">
              <div class="col-12">
                <div class="activities">
                  <div class="activity">
                    <div class="activity-icon bg-primary text-white shadow-primary">
                      <i class="fas fa-comment-alt"></i>
                    </div>
                    <div class="activity-detail">
                      <div class="mb-2">
                        <span class="text-job text-primary">两分钟前</span>
                        <span class="bullet"></span>
                        <a class="text-job" href="#">浏览</a>
                        <div class="float-right dropdown">
                          <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                          <div class="dropdown-menu">
                            <div class="dropdown-title">选择</div>
                            <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> 查看</a>
                            <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> 详情</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item has-icon text-danger" data-confirm="确认删除|操作不可恢复，继续删除?" data-confirm-text-yes="是的"><i class="fas fa-trash-alt"></i> 删除</a>
                          </div>
                        </div>
                      </div>
                      <p>评论了"<a href="#">中医之钥</a>".</p>
                    </div>
                  </div>
                  <div class="activity">
                    <div class="activity-icon bg-primary text-white shadow-primary">
                      <i class="fas fa-arrows-alt"></i>
                    </div>
                    <div class="activity-detail">
                        <div class="mb-2">
                          <span class="text-job text-primary">一个小时前</span>
                          <span class="bullet"></span>
                          <a class="text-job" href="#">浏览</a>
                          <div class="float-right dropdown">
                            <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu">
                              <div class="dropdown-title">选择</div>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> 查看</a>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> 详情</a>
                              <div class="dropdown-divider"></div>
                              <a href="#" class="dropdown-item has-icon text-danger" data-confirm="确认删除|操作不可恢复，继续删除?" data-confirm-text-yes="是的"><i class="fas fa-trash-alt"></i> 删除</a>
                            </div>
                          </div>
                        </div>
                        <p>浏览了"<a href="#">中医之钥</a>".</p>
                      </div>
                  </div>
                  <div class="activity">
                    <div class="activity-icon bg-primary text-white shadow-primary">
                      <i class="fas fa-unlock"></i>
                    </div>
                    <div class="activity-detail">
                        <div class="mb-2">
                          <span class="text-job text-primary">两分钟前</span>
                          <span class="bullet"></span>
                          <a class="text-job" href="#">浏览</a>
                          <div class="float-right dropdown">
                            <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu">
                              <div class="dropdown-title">选择</div>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> 查看</a>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> 详情</a>
                              <div class="dropdown-divider"></div>
                              <a href="#" class="dropdown-item has-icon text-danger" data-confirm="确认删除|操作不可恢复，继续删除?" data-confirm-text-yes="是的"><i class="fas fa-trash-alt"></i> 删除</a>
                            </div>
                          </div>
                        </div>
                        <p>评论了"<a href="#">中医之钥</a>".</p>
                      </div>
                  </div>
                  <div class="activity">
                    <div class="activity-icon bg-primary text-white shadow-primary">
                      <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <div class="activity-detail">
                        <div class="mb-2">
                          <span class="text-job text-primary">两分钟前</span>
                          <span class="bullet"></span>
                          <a class="text-job" href="#">浏览</a>
                          <div class="float-right dropdown">
                            <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu">
                              <div class="dropdown-title">选择</div>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> 查看</a>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> 详情</a>
                              <div class="dropdown-divider"></div>
                              <a href="#" class="dropdown-item has-icon text-danger" data-confirm="确认删除|操作不可恢复，继续删除?" data-confirm-text-yes="是的"><i class="fas fa-trash-alt"></i> 删除</a>
                            </div>
                          </div>
                        </div>
                        <p>评论了"<a href="#">中医之钥</a>".</p>
                      </div>
                  </div>
                  <div class="activity">
                    <div class="activity-icon bg-primary text-white shadow-primary">
                      <i class="fas fa-trash"></i>
                    </div>
                    <div class="activity-detail">
                        <div class="mb-2">
                          <span class="text-job text-primary">两分钟前</span>
                          <span class="bullet"></span>
                          <a class="text-job" href="#">浏览</a>
                          <div class="float-right dropdown">
                            <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu">
                              <div class="dropdown-title">选择</div>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> 查看</a>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> 详情</a>
                              <div class="dropdown-divider"></div>
                              <a href="#" class="dropdown-item has-icon text-danger" data-confirm="确认删除|操作不可恢复，继续删除?" data-confirm-text-yes="是的"><i class="fas fa-trash-alt"></i> 删除</a>
                            </div>
                          </div>
                        </div>
                        <p>评论了"<a href="#">中医之钥</a>".</p>
                      </div>
                  </div>
                  <div class="activity">
                    <div class="activity-icon bg-primary text-white shadow-primary">
                      <i class="fas fa-trash"></i>
                    </div>
                    <div class="activity-detail">
                        <div class="mb-2">
                          <span class="text-job text-primary">两分钟前</span>
                          <span class="bullet"></span>
                          <a class="text-job" href="#">浏览</a>
                          <div class="float-right dropdown">
                            <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu">
                              <div class="dropdown-title">选择</div>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> 查看</a>
                              <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> 详情</a>
                              <div class="dropdown-divider"></div>
                              <a href="#" class="dropdown-item has-icon text-danger" data-confirm="确认删除|操作不可恢复，继续删除?" data-confirm-text-yes="是的"><i class="fas fa-trash-alt"></i> 删除</a>
                            </div>
                          </div>
                        </div>
                        <p>评论了"<a href="#">中医之钥</a>".</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
