{% set title = '阅读' %}
{% set page = 'reading.html' %}
{% extends 'layouts/master-3.html' %}

{% block content %}
<section class="section" >

  <div id="totalStyle" style="text-align: center;">
    
    <div id="old" class="section-header"  style="float:left; display: none;width:45%;height:auto;text-align: left;">
      <p> 
        <img id="pic" src="#" width="100%" />
        <!-- <a class="media" href=""></a>   -->
      </p>
    </div>

    
    <div id="new" class="section-header"  style="display: inline-block;width:45%;height:auto;text-align: left;">
      <p id="passage"  >
      </p>
    </div>
  </div>

  </div>

</section>
{% endblock %}


{% block plugins_js %}
<script>
  
  var pages = 0;
  var current=1;

  function comment(){
    userID = $.session.get('userID');
    fileID = $.session.get('fileID');
    $.ajax({
      url:"http://localhost:8081/CommentAdd/"+fileID+"/"+userID+"/"+$("#commenttitle").val()+"/"+$("#commentcontent").val(),
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "CommentAddHandler",
      success:function(obj) {
        if(obj.content !=null){
          $("#panel-body-1").removeClass("show");
          alert("评论成功");
        } else
          alert("评论失败");
      }
    });

    
  }

  $("#fontchange").change(function(){
    $("#totalStyle").css("font-size",$("#fontchange").val()+"px");
  });


  $("#oldhide").click(function(){
    if($("#old").css("display") == "none"){
      $("#old").css("display","inline-block");
      $("#oldhide").text("隐藏原版");
    }
    else{
    $("#oldhide").text("显示原版");
    $("#old").css("display","none");
    }
  });

  function change(obj){
    $("#pic").attr("src",obj.url);
    UTIF.replaceIMG();
    $("#new p").text("");
    $("#new p").append(obj.res);
    // 将书籍的总页数赋值变量，便于后续使用
    pages = obj.pages;
    $("#current").text(current);
    $("#index").text("总页数："+pages);
  }
  
  $(document).ready(function(){
    fileID = $.session.get('fileID');
    $.ajax({
      url:"http://localhost:8081/bookhandle/"+fileID+"/"+current+"",
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookHandleHandler",
      success:function(obj) {
        change(obj);
      
      }
    });
  });



  $("#previous").click(function(){
  if(current > 1){
    current--;
    $.ajax({
      url:"http://localhost:8081/bookhandle/"+fileID+"/"+current+"",
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookHandleHandler",
      success:function(obj) {
        change(obj);
      }
    });
  }else{
    alert("已经是首页");
  }
});

$("#next").click(function(){
  if(current < pages){
    current++;
    $.ajax({
      url:"http://localhost:8081/bookhandle/"+fileID+"/"+current+"",
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookHandleHandler",
      success:function(obj) {
          change(obj);
      }
    });
  }else
    alert("已经是最后一页");
});

// 进度条监听事件，当有输入或属性修改，就会触发这个事件（函数）
  $('#process').on('input propertychange',function(){
    // 设置索引，当前页数 = 进度条值/100 * 总页数
    $("#index").text(parseInt(($('#process').val()/100)*pages) +" / "+pages);
    current=parseInt(($('#process').val()/100)*pages);
    $.ajax({
      url:"http://localhost:8081/bookhandle/"+fileID+"/"+parseInt(($('#process').val()/100)*pages),
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookHandleHandler",
      success:function(obj) {
        change(obj);
      }
    });
  })


  //跳转至页面
  $("#targetindex").keyup(function(){
    current=$("#targetindex").val();
    $.ajax({
    url:"http://localhost:8081/bookhandle/"+fileID+"/"+ $("#targetindex").val()+"",
    data:{},
    crossDomain:true,
    type:"get",
    dataType:"jsonp",
    jsonp: "callback",
    jsonpCallback: "BookHandleHandler",
    success:function(obj) {
      change(obj);
    }
       });
 
  });

</script>
{% endblock %}
