{% set title = '阅读' %}
{% set page = 'reading.html' %}
{% extends 'layouts/master-3.html' %}

{% block content %}
<section class="section" >

  <div id="totalStyle" style="text-align: center;">
    
    <div id="old" class="section-header"  style="float:left; display: none;width:45%;height:auto;text-align: left;">
      <p> 
        <img id="pic" src="#" width="100%" />
        <!-- <a class="media" href=""></a>   -->
      </p>
    </div>

    
    <div id="new" class="section-header"  style="display: inline-block;width:45%;height:auto;text-align: left;">
      <p id="passage"  >
      </p>
    </div>
  </div>

  </div>

</section>
{% endblock %}


{% block plugins_js %}
<script>
  
  var pages = 0;
  var current=1;
  var userID = $.session.get('userID');
  var fileID = $.session.get('fileID');
  var fileName = $.session.get('fileName');

  var doms = null;
  var selectText = "";

  function initinfo(){
    $.ajax({
      url:"http://localhost:8081/bookhandle/"+userID+"/"+fileID+"/"+current+"",
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookHandleHandler",
      success:function(obj) {
        change(obj);
      }
    });
  }
    
  function notedetail(noteID){
    $.ajax({
      url:"http://localhost:8081/getnote/"+noteID,
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "getnoteHandler",
      success:function(obj) {
        $.alert({
            title:'笔记',
            content:obj.content,
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'确定',
                btnClass:'btn-blue'
              }
            }
        });
      
      }
    });
  }

  function notebook(){
    var selecter = window.getSelection();
    var selectStr = selecter.toString();
    selectText = selectStr;
    if (selectStr.trim != "") {
      var rang = selecter.getRangeAt(0);//得到选取文本范围
      var ele = document.createElement("strong");
      ele.textContent = selectStr;
      ele.style.color="green";
      rang.surroundContents(ele);
      doms = ele;
    }
  }

  function note(){
    $.ajax({
      url:"http://localhost:8081/addnote/"+fileID+"/"+userID+"/"+$.session.get("fileName")+"/"+selectText+"/"+$("#notecontent").val(),
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "addnoteHandler",
      success:function(obj) {
        if(obj.fileID != -1){
          doms.setAttribute("onclick","notedetail("+obj.noteID+")");
          $("#panel-body-2").removeClass("show");
          $.alert({
            title:'提示!',
            content:'笔记已保存',
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'确定',
                btnClass:'btn-blue'
              }
            }
          });

          var infos= {
              "info":$("#passage").html(),
              "users":$.session.get('userID'),
              "files":$.session.get('fileID'),
              "pages":current
          };
          infos = JSON.stringify(infos);
          $.ajax({
            url:"http://localhost:8081/savenote",
            type:'post',
            data:infos,
            crossDomain:true,
            headers : {"Content-Type" : "application/json;charset=utf-8"},
            success: function (data) {
            }
          });

          } else
          $.alert({
            title:'提示!',
            content:'笔记保存失败，请稍后再试~',
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'取消',
                btnClass:'btn-blue'
              }
            }
          });
      }
    });
  }

  function concalnote(){
    $("#panel-body-2").removeClass("show");
  }

  function concalcomment(){
    $("#panel-body-1").removeClass("show");
  }

  function comment(){
    $.ajax({
      url:"http://localhost:8081/CommentAdd/"+fileID+"/"+userID+"/"+$("#commenttitle").val()+"/"+$("#commentcontent").val()+"/"+$.session.get("fileName")+"/"+$.session.get("userName"),
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "CommentAddHandler",
      success:function(obj) {
        if(obj.content !=null){
          $("#panel-body-1").removeClass("show");
          $.alert({
            title:'提示!',
            content:'评论成功',
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'确定',
                btnClass:'btn-blue'
              }
            }
          });
          } else
          $.alert({
            title:'提示!',
            content:'评论失败',
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'取消',
                btnClass:'btn-blue'
              }
            }
          });
      }
    });
  }

  $("#fontchange").change(function(){
    $("#totalStyle").css("font-size",$("#fontchange").val()+"px");
  });


  $("#oldhide").click(function(){
    if($("#old").css("display") == "none"){
      $("#old").css("display","inline-block");
      $("#oldhide").text("隐藏原版");
    }
    else{
    $("#oldhide").text("显示原版");
    $("#old").css("display","none");
    }
  });

  function change(obj){
    $("#pic").attr("src",obj.url);
    UTIF.replaceIMG();
    $("#new p").text("");
    $("#new p").append(obj.res);
    // 将书籍的总页数赋值变量，便于后续使用
    pages = obj.pages;
    $("#current").text(current);
    $("#index").text("总页数："+pages);
  }
  
  $(document).ready(function(){
    initinfo();
  });



  $("#previous").click(function(){
  if(current > 1){
    current--;
    $.ajax({
      url:"http://localhost:8081/bookhandle/"+userID+"/"+fileID+"/"+current+"",
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookHandleHandler",
      success:function(obj) {
        change(obj);
      }
    });
  }else{
    alert("已经是首页");
  }
});

$("#next").click(function(){
  if(current < pages){
    current++;
    $.ajax({
      url:"http://localhost:8081/bookhandle/"+userID+"/"+fileID+"/"+current+"",
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookHandleHandler",
      success:function(obj) {
          change(obj);
      }
    });
  }else
    alert("已经是最后一页");
});

// 进度条监听事件，当有输入或属性修改，就会触发这个事件（函数）
  $('#process').on('input propertychange',function(){
    // 设置索引，当前页数 = 进度条值/100 * 总页数
    $("#index").text(parseInt(($('#process').val()/100)*pages) +" / "+pages);
    current=parseInt(($('#process').val()/100)*pages);
    $.ajax({
      url:"http://localhost:8081/bookhandle/"+userID+"/"+fileID+"/"+parseInt(($('#process').val()/100)*pages),
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookHandleHandler",
      success:function(obj) {
        change(obj);
      }
    });
  })


  //跳转至页面
  $("#targetindex").keyup(function(){
    current=$("#targetindex").val();
    $.ajax({
    url:"http://localhost:8081/bookhandle/"+userID+"/"+fileID+"/"+ $("#targetindex").val()+"",
    data:{},
    crossDomain:true,
    type:"get",
    dataType:"jsonp",
    jsonp: "callback",
    jsonpCallback: "BookHandleHandler",
    success:function(obj) {
      change(obj);
    }
       });
 
  });

</script>
{% endblock %}
