{% set title = 'Login' %}
{% set page = 'auth-login.html' %}
{% set body = false %}
{% extends 'layouts/master.html' %}


{% block content_2 %}
    <section class="section">
    <div class="section-header" style="margin-bottom: 0mm;">
      <h1>医法圆通</h1>
      
      <div class="section-header-breadcrumb">
        <!-- 放大/缩小 -->
      <input id="oldhide"  type="button"  value="显示原版" style="margin-right: 5px;" >
        字号设置
        <select id="fontchange" style="margin-left: 5px;">
          <option value="12">小号</option>
          <option value="14" selected>常规</option>
          <option value="20">大号</option>
          <option value="30">特大号</option>
        </select>
      </div>
    </div>
       

    <div id="totalStyle" style="text-align: center;">
      
      <input type="range" class="form-control" >

      <div id="old" class="section-header"  style="display: none;width:45%;height:600px;text-align: left;">
        <p>中醫瑰寶苑 </br> 
          桂林古本傷寒雜病論上 </br>
          
          漢長沙太守南陽張機仲景  述 </br>
        
          桂林羅哲初  手抄 </br>
        
          據廣西人民出版社1980年7月第2版 據廣西人民出版社1980年7月第2版 據廣西人民出版社1980年7月第2版 </br>
        </p>
      </div>

      
      
      <div id="new" class="section-header"  style="display: inline-block;width:45%;height:600px;text-align: left;">
        
        <p id="passage"  >中医瑰宝苑 </br> 
          桂林古本伤寒杂病论上 </br>
          
        汉长沙太守南阳张机仲景  述 </br>
        
        桂林罗哲初  手抄 </br>
        
        据广西人民出版社1980年7月第2版 据广西人民出版社1980年7月第2版 据广西人民出版社1980年7月第2版 </br>
        </p>
      </div>
    </div>
      
    </div>
        
      
     
  </section>
    
{% endblock %}


{% block plugins_js %}
<script src="../node_modules/summernote/dist/summernote-bs4.js"></script>
<script src="../node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

<script>
  $("#fontchange").change(function(){
    $("#totalStyle").css("font-size",$("#fontchange").val()+"px");

  });


  $("#oldhide").click(function(){
    if($("#old").css("display") == "none"){
      $("#old").css("display","inline-block");
      $("#oldhide").val("隐藏原版");
    }
    else{
    $("#oldhide").val("显示原版");
    $("#old").css("display","none");
    }
  });

  $path = "C:\100-桂林古本伤寒杂病论.txt";
</script>
{% endblock %}