{% set title = '专题知识库' %}
{% set page = 'specialknowledgebase.html' %}
{% extends 'layouts/master.html' %}

{% block content %}
        <section class="section">
        <h2 class="section-title">主题一</h2>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <article class="article article-style-b">
              <div class="article-header">
                <div class="article-image" data-background="../assets/img/news/img13.jpg">
                </div>
                <div class="article-badge">
                  <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> 针灸</div>
                </div>
              </div>
              <div class="article-details">
                <div class="article-title">
                  <h2><a href="#">针法、灸法的总称</a></h2>
                </div>
                <p>针灸是一种“内病外治”的医术。是通过经络、腧穴的传导作用，以及应用一定的操作法，来治疗全身疾病的。 </p>
                <div class="article-cta">
                  <a href="#">阅读更多 <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
              <article class="article article-style-b">
                <div class="article-header">
                  <div class="article-image" data-background="../assets/img/news/img02.jpg">
                  </div>
                </div>
                <div class="article-details">
                  <div class="article-title">
                    <h2><a href="#">针法、灸法的总称</a></h2>
                  </div>
                  <p>针灸是一种“内病外治”的医术。是通过经络、腧穴的传导作用，以及应用一定的操作法，来治疗全身疾病的。 </p>
                  <div class="article-cta">
                    <a href="#">阅读更多 <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </article>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <article class="article article-style-b">
                  <div class="article-header">
                    <div class="article-image" data-background="../assets/img/news/img15.jpg">
                    </div>
                  </div>
                  <div class="article-details">
                    <div class="article-title">
                      <h2><a href="#">针法、灸法的总称</a></h2>
                    </div>
                    <p>针灸是一种“内病外治”的医术。是通过经络、腧穴的传导作用，以及应用一定的操作法，来治疗全身疾病的。 </p>
                    <div class="article-cta">
                      <a href="#">阅读更多 <i class="fas fa-chevron-right"></i></a>
                    </div>
                  </div>
                </article>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                  <article class="article article-style-b">
                    <div class="article-header">
                      <div class="article-image" data-background="../assets/img/news/img02.jpg">
                      </div>
                    </div>
                    <div class="article-details">
                      <div class="article-title">
                        <h2><a href="#">针法、灸法的总称</a></h2>
                      </div>
                      <p>针灸是一种“内病外治”的医术。是通过经络、腧穴的传导作用，以及应用一定的操作法，来治疗全身疾病的。 </p>
                      <div class="article-cta">
                        <a href="#">阅读更多 <i class="fas fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </article>
                </div>
    
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <article class="article article-style-b">
                      <div class="article-header">
                        <div class="article-image" data-background="../assets/img/news/img15.jpg">
                        </div>
                      </div>
                      <div class="article-details">
                        <div class="article-title">
                          <h2><a href="#">针法、灸法的总称</a></h2>
                        </div>
                        <p>针灸是一种“内病外治”的医术。是通过经络、腧穴的传导作用，以及应用一定的操作法，来治疗全身疾病的。 </p>
                        <div class="article-cta">
                          <a href="#">阅读更多 <i class="fas fa-chevron-right"></i></a>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                      <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image" data-background="../assets/img/news/img02.jpg">
                          </div>
                        </div>
                        <div class="article-details">
                          <div class="article-title">
                            <h2><a href="#">针法、灸法的总称</a></h2>
                          </div>
                          <p>针灸是一种“内病外治”的医术。是通过经络、腧穴的传导作用，以及应用一定的操作法，来治疗全身疾病的。 </p>
                          <div class="article-cta">
                            <a href="#">阅读更多 <i class="fas fa-chevron-right"></i></a>
                          </div>
                        </div>
                      </article>
                    </div>
        
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <article class="article article-style-b">
                          <div class="article-header">
                            <div class="article-image" data-background="../assets/img/news/img15.jpg">
                            </div>
                          </div>
                          <div class="article-details">
                            <div class="article-title">
                              <h2><a href="#">针法、灸法的总称</a></h2>
                            </div>
                            <p>针灸是一种“内病外治”的医术。是通过经络、腧穴的传导作用，以及应用一定的操作法，来治疗全身疾病的。 </p>
                            <div class="article-cta">
                              <a href="#">阅读更多 <i class="fas fa-chevron-right"></i></a>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                          <article class="article article-style-b">
                            <div class="article-header">
                              <div class="article-image" data-background="../assets/img/news/img13.jpg">
                              </div>
                            </div>
                            <div class="article-details">
                              <div class="article-title">
                                <h2><a href="#">针法、灸法的总称</a></h2>
                              </div>
                              <p>针灸是一种“内病外治”的医术。是通过经络、腧穴的传导作用，以及应用一定的操作法，来治疗全身疾病的。 </p>
                              <div class="article-cta">
                                <a href="#">阅读更多 <i class="fas fa-chevron-right"></i></a>
                              </div>
                            </div>
                          </article>
                        </div>
           
        </div>
            
          
        </section>
{% endblock %}
