{% set title = '阅读' %}
{% set page = 'testreading.html' %}
{% extends 'layouts/master-3.html' %}

{% block content %}
<section class="section">
      
  <input id="process" type="range" class="form-control" max=100 min=1 value="0" step=1 >
  <div id="totalStyle" style="text-align: center;">
    
    <div id="old" class="section-header"  style="display: none;width:45%;height:auto;text-align: left;">
      <p>中醫瑰寶苑 </br> 
        桂林古本傷寒雜病論上 </br>
        
        漢長沙太守南陽張機仲景  述 </br>
      
        桂林羅哲初  手抄 </br>
      
        據廣西人民出版社1980年7月第2版 據廣西人民出版社1980年7月第2版 據廣西人民出版社1980年7月第2版 </br>
      </p>
    </div>

    
    
    <div id="new" class="section-header"  style="display: inline-block;width:45%;height:auto;text-align: left;">
      <div style="font: 0px/0px sans-serif;clear: both;display: block"> </div>
      <p id="passage"  >中医瑰宝苑 </br> 
        桂林古本伤寒杂病论上 </br>
        
      汉长沙太守南阳张机仲景  述 </br>
      
      桂林罗哲初  手抄 </br>
      
      据广西人民出版社1980年7月第2版 据广西人民出版社1980年7月第2版 据广西人民出版社1980年7月第2版 </br>
  
      
  
      
      
      
      </p>
    </div>
  </div>
  
  
  
      

  </div>
      
    
   
</section>
{% endblock %}

{% block plugins_js %}
<script>
  var pages = 0;
  var current=1;

  $("#fontchange").change(function(){
    $("#totalStyle").css("font-size",$("#fontchange").val()+"px");

  });


  $("#oldhide").click(function(){
    if($("#old").css("display") == "none"){
      $("#old").css("display","inline-block");
      $("#oldhide").val("隐藏原版");
    }
    else{
    $("#oldhide").val("显示原版");
    $("#old").css("display","none");
    }
  });

  
  
  $(document).ready(function(){
    fileID = $.session.get('fileID');
    $.ajax({
      url:"http://localhost:8081/bookread/"+fileID+"/"+current+"",
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookReadHandler",
      success:function(obj) {
        $("#old p").text("");
        $("#old p").append(obj.res);
        $("#new p").text("");
        $("#new p").append(obj.res);
        // 将书籍的总页数赋值变量，便于后续使用
        pages = obj.page;
        $("#current").text(current);
      }
    });
  });

  $("#previous").click(function(){
  if(current > 1)
    current--;
  $.ajax({
    url:"http://localhost:8081/bookread/"+fileID+"/"+current+"",
    data:{},
    crossDomain:true,
    type:"get",
    dataType:"jsonp",
    jsonp: "callback",
    jsonpCallback: "BookReadHandler",
    success:function(obj) {
      $("#old p").text("");
        $("#old p").append(obj.res);
        $("#new p").text("");
        $("#new p").append(obj.res);
        $("#current").text(current);
        
    }
  });
  });

$("#next").click(function(){
  current++;
  $.ajax({
    url:"http://localhost:8081/bookread/"+fileID+"/"+current+"",
    data:{},
    crossDomain:true,
    type:"get",
    dataType:"jsonp",
    jsonp: "callback",
    jsonpCallback: "BookReadHandler",
    success:function(obj) {
      if(obj.length == 0){
        alert("已经是最后一页")
        current--;
      }else
      $("#old p").text("");
      $("#old p").append(obj.res);
      $("#new p").text("");
      $("#new p").append(obj.res);
      $("#current").text(current);
    }
  });
  });

// 进度条监听事件，当有输入或属性修改，就会触发这个事件（函数）
  $('#process').on('input propertychange',function(){
    // 设置索引，当前页数 = 进度条值/100 * 总页数
    $("#index").text(parseInt(($('#process').val()/100)*pages) +" / "+pages);
    current=parseInt(($('#process').val()/100)*pages);
    $.ajax({
      url:"http://localhost:8081/bookread/"+fileID+"/"+parseInt(($('#process').val()/100)*pages),
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "BookReadHandler",
      success:function(obj) {
      $("#old p").text("");
      $("#old p").append(obj.res);
      $("#new p").text("");
      $("#new p").append(obj.res);
      $("#current").text(current);
      }
    });
  })


  //跳转至页面
  $("#targetindex").keyup(function(){
    current=$("#targetindex").val();
    $.ajax({
    url:"http://localhost:8081/bookread/"+fileID+"/"+ $("#targetindex").val()+"",
    data:{},
    crossDomain:true,
    type:"get",
    dataType:"jsonp",
    jsonp: "callback",
    jsonpCallback: "BookReadHandler",
    success:function(obj) {
      $("#old p").text("");
      $("#old p").append(obj.res);
      $("#new p").text("");
      $("#new p").append(obj.res);
      $("#current").text(current);
    }
       });
 
  });

</script>
{% endblock %}
