{% set title = 'userinfo' %}
{% set page = 'userinfo.html' %}
{% extends 'layouts/master.html' %}

{% block content %}
  <section class="section">
    <div class="section-body ">
      <h2 class="section-title">我的账户</h2>
      <div calss="card" style="width:30%"></div>
      
      <form class="wizard-content mt-4 jumbotron card">
        <div class="wizard-pane">
          <div class="form-group row align-items-center">
            <label class="col-md-4 text-md-right text-left">姓名</label>
            <label class="col-md-3" id="un"></label>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-4 text-md-right text-left">邮箱</label>
            <label class="col-md-3" id="email">dfgs</label> 
        
            <a href="auth-reset-password.html">更换邮箱</a>
          
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-4 text-md-right text-left">密码</label>
            <label class="col-md-3" id="password">******</label> 
            
            <a href="javascript:void()" onclick="viewPassword()">查看密码</a>&nbsp;&nbsp;&nbsp;
            <a href="auth-reset-password.html">修改密码</a>
          
          </div>
          </div>
  
        </div>
      </form>
    
    </div>
  </section>
{% endblock %}


{% block plugins_js %}
<script type="text/javascript">

function viewPassword(){
  $.alert({
    title:'提示!',
    content:"密码已发送至您的邮箱，请注意查收",
    animation:'scale',
    closeAnimation:'scale',
    buttons:{
      okay:{
        text:'确定',
        btnClass:'btn-blue'
      }
    }
});
}

$(document).ready(function(){

  $("#un").text($.session.get('userName'));
  $("#email").text($.session.get('email'));
 
});
</script>
{% endblock %}
