{% set title = 'Blank Page' %}
{% set page = 'blank.html' %}
{% extends 'layouts/master.html' %}

{% block content %}
  <section>
  <div style="height: 100px;"></div>
                  <div class="accordion" id="accordion">
                     
                        <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true" style="width:60px;position: absolute;top:30%;">
                          <h4>评论</h4>
                        </div>
                  </div>

  
                  <h4>test</h4>
                  <h4>test</h4>
                  <h4>test</h4>
                  <h4>test</h4>
  </section>

        
{% endblock %}
