{% set title = 'userinfo' %}
{% set page = 'userinfo.html' %}
{% extends 'layouts/master.html' %}

{% block content %}
        <section class="section">
          <div class="col-md-12 col-12 col-sm-12" >
            <div class="card" style="margin-bottom: 0em;">
              <div class="card-header">
                <h4>用户管理</h4>
                <button style="margin-left: 20px;" class="btn btn-primary" onclick="adduser()">新建用户</button>
                <button style="margin-left: 20px;" class="btn btn-primary">批量导入用户</button>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-striped mb-0">
                    <thead>
                      <tr>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>权限</th>
                        <th>操作</th>   
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div class="card" style="margin-top: 0em;" >
              <div class="card-body" >
                <nav aria-label="Page navigation example" style="float:right;">
                  <ul class="pagination">
                    <li class="page-item" style="line-height: 35px;text-align: center;padding-right: 10px;font-weight: bolder;" id="allnum">共 10 页</li>
                    <li class="page-item" id="previous"><a class="page-link">上一页</a></li>         
                    <li class="page-item" id="current" style="line-height: 35px;width: 20px;text-align: center;">1</li>
                    <li class="page-item" id="next"><a class="page-link">下一页</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>

          <div class="accordion" id="accordion1">
            <div class="accordion-body collapse " id="panel-body-1" data-parent="#accordion1" style="z-index: 1000;position: fixed;top:10%;left:35%;width:30%;">
              <div class="row">
                <div style="width:100%">
                    <div class="card" style="background-color: rgb(182, 158, 121);">
                          <div class="card-body pb-0">
                            <div class="form-group">
                              <label>用户名</label>
                              <input type="text" name="name" class="form-control" id="usernames">
                            </div>
                            <div class="form-group">
                              <label>邮箱</label>
                              <input type="text" name="name" class="form-control" id="emails">
                            </div>
                            <div class="form-group">
                              <label>密码</label>
                              <input type="text" name="name" class="form-control" id="passwords">
                            </div>
                            <div class="form-group">
                              <label>权限</label>
                              <select id="selects" class="form-control">
                                <option value="1">系统管理员</option>
                                <option value="2">普通用户</option>
                              </select>
                            </div>
                          </div>
                          <div class="card-footer pt-0">
                            <button class="btn btn-warning" style="float:left" onclick="canceladd()" >取消</button>
                            <button class="btn btn-warning" style="float:right" onclick="addinfo()" >修改</button>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endblock %}   

{% block plugins_js %}  
<script>
  var current = 0;
  var num=5;

  function adduser(){
    $("#panel-body-1").addClass("show");
  }

  function canceladd(){
    $("#panel-body-1").removeClass("show");
  }

  function addinfo(){
    $("#panel-body-1").removeClass("show");
    $.ajax({
    url:"http://localhost:8081/addUser/"+$("#usernames").val()+"/"+$("#emails").val()+"/"+$("#passwords").val()+"/"+$("#selects").val(),
    data:{},
    crossDomain:true,
    type:"get",
    dataType:"jsonp",
    jsonp: "callback",
    jsonpCallback: "addUserHandler",
    success:function(obj) {
      if(obj == 1){
        $.alert({
            title:'提示!',
            content:'添加成功',
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'确定',
                btnClass:'btn-blue'
              }
            }
        });
        requestuser();
      }else{
        $.alert({
            title:'提示!',
            content:'添加失败，请稍后再试',
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'确定',
                btnClass:'btn-blue'
              }
            }
        });
      }
    }
    });
  }

  function deleteuser(userID){
    $.ajax({
    url:"http://localhost:8081/userDelete/"+userID,
    data:{},
    crossDomain:true,
    type:"get",
    dataType:"jsonp",
    jsonp: "callback",
    jsonpCallback: "userDeleteHandler",
    success:function(obj) {
      if(obj == 1){
        $.alert({
            title:'提示!',
            content:'删除成功',
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'确定',
                btnClass:'btn-blue'
              }
            }
        });
        requestuser();
      }else{
        $.alert({
            title:'提示!',
            content:'删除失败，请稍后再试',
            animation:'scale',
            closeAnimation:'scale',
            buttons:{
              okay:{
                text:'确定',
                btnClass:'btn-blue'
              }
            }
        });
      }
    }
    });
  }

  function  changeuser(userID,obj){
    console.log(obj.value);
    $.ajax({
      url:"http://localhost:8081/userModify/"+userID+"/"+obj.value,
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "userModifyHandler",
      success:function(obj) {
        if(obj == 1){
          $.alert({
              title:'提示!',
              content:'修改成功',
              animation:'scale',
              closeAnimation:'scale',
              buttons:{
                okay:{
                  text:'确定',
                  btnClass:'btn-blue'
                }
              }
          });
        }else{
          $.alert({
              title:'提示!',
              content:'修改失败，请稍后再试',
              animation:'scale',
              closeAnimation:'scale',
              buttons:{
                okay:{
                  text:'确定',
                  btnClass:'btn-blue'
                }
              }
          });
        }
      }
      });
  }

  function modify(obj){
    var index =  0;  
    $("td").each(function(){
    if(parseInt(index/4) >= obj.length)
        $(this).text("");
    else if(index % 4 == 0)
      $(this).text(obj[parseInt(index/4)].userName);
    else if(index % 4 == 1)
      $(this).text(obj[parseInt(index/4)].email);
    else if(index % 4 == 2){
      $(this).empty();           
      if(obj[parseInt(index/4)].roleID == 1)
        $(this).append('<select onchange="changeuser('+obj[parseInt(index/4)].userID+',this)" class="form-control" style="width:140px;"><option value="1" selected>系统管理员</option><option value="2">普通用户</option></select>');
      else
        $(this).append('<select onchange="changeuser('+obj[parseInt(index/4)].userID+',this)" class="form-control" style="width:140px;"><option value="1">系统管理员</option><option value="2" selected>普通用户</option></select>');
    }
    else if(index % 4 == 3){
      $(this).text("");
      $(this).append(' <a class="btn btn-danger btn-action" data-toggle="tooltip" title="删除"><i class="fas fa-trash"></i></a>');
      $(this).find("a").eq(0).attr("idinfo",obj[parseInt(index/4)].userID);
      $(this).find("a").eq(0).confirm({
        icon:'fa fa-question',
        theme:'supervan',
        closeIcon:true,
        animation:'scale',
        type:'orange',
        title: "是否删除",
        content: "此操作无法撤回，是否继续？",
        buttons: {
          confirm: {
              text: "确认",
              btnClass: 'btn-blue',
              action:function(){
                deleteuser(this.$target.attr("idinfo"));
              }
          },
          cancel: {
              text: "取消"            
              }
        }
      });
    }
    index++;
  });
  $("#current").text((current+1)+"");

  }


  function requestuser(){
    check();
    $.ajax({
      url:"http://localhost:8081/userManage/"+current*num+"/"+num,
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "userManageHandler",
      success:function(obj) {
        modify(obj.users);
        if(obj.count%5 == 0)
        $("#allnum").text("共 "+parseInt(obj.count/5)+" 页");
     else
        $("#allnum").text("共 "+parseInt(obj.count/5+1)+" 页");
    }
        
     
    });
  }

  $("#previous").click(function(){
  if(current > 0)
    current--;
  else
    return;
    $.ajax({
      url:"http://localhost:8081/userManage/"+current*num+"/"+num,
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "userManageHandler",
      success:function(obj) {
        modify(obj.users);
       
    }
        
     
    });
});

$("#next").click(function(){
  current++;
  $.ajax({
      url:"http://localhost:8081/userManage/"+current*num+"/"+num,
      data:{},
      crossDomain:true,
      type:"get",
      dataType:"jsonp",
      jsonp: "callback",
      jsonpCallback: "userManageHandler",
      success:function(obj) {
        if(obj.file.length == 0){
          current--;
        }else{
           modify(obj.users);
        }  
      }   
    });
});

$(document).ready(function(){
  requestuser();
});
</script>
{% endblock %}